#blog-page-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.blog-entry-container {
    width: 100%;
    display: flex;
    margin: auto;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}

.blog-entry {
    height: 100%;
    width: 70%;
    margin: 10px auto;
    max-height: 200px;
}

.blog-entry-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 2px 1px #222222;
    border-radius: 5px;
}

.blog-image {
    margin-right: 20px;
    width: 25%;
    min-height: 120px;
    max-height: 150px;
    display: flex;
    align-items: center;
}

.blog-image img {
    height: 100%;
    width: 100%;
}

.blog-content {
    width: 70%;
}

.blog-title {
    margin-bottom: 10px;
}

.blog-text {
    color: #c0c0c0;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#blog-entries-wrapper {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}

@media all and (max-width: 1400px) {
    .blog-entry {
        width: 80%;
    }
}

@media all and (max-width: 1200px) {
    .blog-entry {
        width: 90%;
    }

    .blog-image {
        width: 30%;
    }
}

@media all and (max-width: 600px) {
    .blog-entry {
        width: 100%;
        max-height: none;
    }

    .blog-entry-container {
        flex-wrap: wrap;
        max-height: 100%;
    }

    .blog-image {
        width: 100%;
        max-height: 200px;
        margin: 0;
    }

    .blog-content {
        margin-top: 10px;
        width: 100%;
    }
}
