.inputField {
    padding-left: 40px !important;
}

.input-container {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    position: relative;
    /* max-width: 410px; */
}

.field-input-icon {
    position: absolute;
    margin: 10px;
    left: 2px;
    bottom: 17px;
    font-size: 1.1em;
    line-height: 1.4 !important;
    color: #92d36e;
}
