.top-x-wrapper {
    margin: 15px 0;
    height: 600px;
    border-bottom: 1px solid #7a7a7a;
}

.top-x-wrapper .title {
    text-align: center;
    margin-bottom: 20px;
}

.main-carousel {
    height: 500px;
}

.carousel-cell {
    width: 66%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: scale(0.85);
    transition: transform 0.3s ease-in-out;
}

.carousel-cell.is-selected {
    transform: scale(1);
}

.carousel-cell img {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.carousel-cell-bottom-bar {
    position: absolute;
    bottom: 0;
    background-color: #555555;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.carousel-cell-bottom-bar .bottom-bar-rating .filled {
    color: #92d36e;
}

#visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.flickity-button {
    background-color: #333333 !important;
    color: #92d36e !important;
    min-width: 0 !important;
}

.flickity-page-dots .dot {
    background: whitesmoke !important;
}

.all-products-wrapper {
    margin: 20px 0;
    width: auto;
    display: flex;
    flex-direction: column;
}

#all-products-title {
    display: flex;
    justify-content: center;
}

.top-filters-section {
    height: 100px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-options-select {
    position: relative;
    border: 2px 2px #7a7a7a;
    min-width: 220px;
    display: flex;
    flex-direction: row;
    width: 200px;
}

.arrow-container {
    background-color: #92d36e;
    height: 40px;
    width: 24px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: 0px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: none;
}

.down-arrow {
    color: #333333;
    text-align: center;
    font-size: 1.2em;
    position: absolute;
    top: 7px;
}

.product-options-select select {
    display: block;
    margin: 5px 0px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.75;
    color: #c0c0c0;
    background-color: #333333;
    border: 1px solid #444444;
    font-size: 14px;
}

.products-list-wrapper {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
}

.bottom-product-title {
    margin-bottom: 10px;
}

.individual-product {
    background-color: #444444;
    border-radius: 5px;
    padding: 15px 20px;
    box-shadow: 1px 1px 1px #000000;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.individual-product:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 6px #000000;
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details p {
    color: #c0c0c0;
}

.product-heart-rating {
    display: flex;
    justify-content: flex-end;
}

@media all and (max-width: 800px) {
    .products-list-wrapper {
        grid-template-columns: 100%;
    }

    .top-filters-section {
        flex-wrap: wrap-reverse;
    }

    .carousel-cell {
        width: 100%;
    }
}
